<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/slate/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">chrisfradella.com</a>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Code</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </nav>
  <div class="jumbotron">
    <h1>My Daily Journals</h1>
    <p>Here are some of my writings</p>
  </div>
  <br>
  {% for post in posts %}
    <div class="container">
      <h2>{{ post.title }}</h2>
      <div class="card">
        <div class="card-header">{{ post.author }}</div>
        <div class="card-body">{{ post.content }}</div>
        <div class="card-footer">{{ post.date_posted }}</div>
      </div>
    </div>
    <br>
    <br>
  {% endfor %}
</body>
</html>
